In [1]:
import pandas as pd

from sqlalchemy import create_engine

In [2]:
db_file = r'database.sqlite'
engine = create_engine(r"sqlite:///{}".format(db_file))

In [3]:
sql = "SELECT name FROM sqlite_master WHERE type = 'table';"

table_names = pd.read_sql(sql, engine)
table_names

                       name
0                BoardGames
1         bgg.ldaOut.topics
2      bgg.ldaOut.top.terms
3  bgg.ldaOut.top.documents
4                bgg.topics

In [4]:
sql = "SELECT * FROM BoardGames;"

BoardGames_df = pd.read_sql(sql,engine)
BoardGames_df.head()

,row_names,game.id,game.type,details.description,details.image,details.maxplayers,details.maxplaytime,details.minage,details.minplayers,details.minplaytime,...,stats.family.arcade.bayesaverage,stats.family.arcade.pos,stats.family.atarist.bayesaverage,stats.family.atarist.pos,stats.family.commodore64.bayesaverage,stats.family.commodore64.pos,stats.subtype.rpgitem.bayesaverage,stats.subtype.rpgitem.pos,stats.subtype.videogame.bayesaverage,stats.subtype.videogame.pos
0,1,1,boardgame,Die Macher is a game about seven sequential po...,//cf.geekdo-images.com/images/pic159509.jpg,5.0,240.0,14.0,3.0,240.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2,boardgame,Dragonmaster is a trick-taking card game based...,//cf.geekdo-images.com/images/pic184174.jpg,4.0,30.0,12.0,3.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,3,boardgame,"Part of the Knizia tile-laying trilogy, Samura...",//cf.geekdo-images.com/images/pic3211873.jpg,4.0,60.0,10.0,2.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,4,boardgame,When you see the triangular box and the luxuri...,//cf.geekdo-images.com/images/pic285299.jpg,4.0,60.0,12.0,2.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,5,boardgame,"In Acquire, each player strategically invests ...",//cf.geekdo-images.com/images/pic342163.jpg,6.0,90.0,12.0,3.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
BoardGames_df.shape

(90400, 81)

In [6]:
sql = "SELECT * FROM [bgg.ldaOut.topics];"
BoardGameTopics_df = pd.read_sql(sql, engine)
BoardGameTopics_df.head()

        row_names  topics(bgg.ldaOut)
0      Die.Macher                   8
1    Dragonmaster                   5
2         Samurai                  22
3  Tal.der.Könige                   4
4         Acquire                   4

In [7]:
BoardGameTopics_df.shape

(29229, 2)

In [8]:
sql = "SELECT * FROM [bgg.ldaOut.top.terms]"
BoardGameTopTerm_df = pd.read_sql(sql,engine)
BoardGameTopTerm_df.head()

  row_names  topic                     term      beta
0         1      1        Bluffing.category  0.183436
1         2      1       Deduction.category  0.164224
2         3      1    Partnerships.mechanic  0.080226
3         4      1       PartyGame.category  0.066343
4         5      1  Murder.Mystery.category  0.048674

In [9]:
BoardGameTopTerm_df.shape

(250, 4)

In [10]:
sql = "SELECT * FROM [bgg.topics]"
BoardGameTopics2_df = pd.read_sql(sql,engine)
BoardGameTopics2_df.head()

,row_names,game.id,game.type,details.maxplayers,details.maxplaytime,details.minage,details.minplayers,details.minplaytime,details.name,details.playingtime,...,attributes.t.links.concat.2....,stats.subtype.rpgitem.bayesaverage,stats.subtype.rpgitem.pos,stats.weight.factor,details.playingtime.factor,details.minplayers.factor,details.maxplayers.factor,details.minage.factor,stats.average.factor,topic
0,1,1,boardgame,5.0,240.0,14.0,3.0,240.0,Die Macher,240.0,...,None,NaN,NaN,4,240+,3,5,14,"[7.00,9.83]",Monopoly-inspired
1,2,2,boardgame,4.0,30.0,12.0,3.0,30.0,Dragonmaster,30.0,...,None,NaN,NaN,2,30,3,4,12,"[6.40,7.00)",Traditional Card Games
2,3,3,boardgame,4.0,60.0,10.0,2.0,30.0,Samurai,60.0,...,None,NaN,NaN,3,60,2,4,10,"[7.00,9.83]",Area Control Games
3,4,4,boardgame,4.0,60.0,12.0,2.0,60.0,Tal der Könige,60.0,...,None,NaN,NaN,3,60,2,4,12,"[6.40,7.00)",Corporate Strategy Games
4,5,5,boardgame,6.0,90.0,12.0,3.0,90.0,Acquire,90.0,...,None,NaN,NaN,3,90,3,6,12,"[7.00,9.83]",Corporate Strategy Games

In [11]:
BoardGameTopics2_df.shape

(29313, 74)

In [12]:
sql = "SELECT * FROM [bgg.ldaOut.top.documents]"
BoardGameTopDocuments_df = pd.read_sql(sql,engine)
BoardGameTopDocuments_df.head()

,row_names,document,topic,gamma
0,1,The.Lounge..A.Mafia.Game,1,0.203125
1,2,Ultimate.Werewolf..Ultimate.Edition,1,0.200000
2,3,Ultimate.Werewolf..Deluxe.Edition.For.Kickstarter,1,0.200000
3,4,Werewolf,1,0.194805
4,5,Παλέρμο..Το.Μεγάλο.Ξεκαθάρισμα,1,0.190476

In [13]:
BoardGameTopDocuments_df.shape

(288, 4)